{% extends "base.html" %}

{% block content %}
<br><br>

<h1 class="text-capitalize text-center mx-10 bg-dark text-white"> Enregistrement d'un Nouveau Paiement </h1>

<form method="post">

    {% csrf_token %}

    <div class="form-row">
        <div class="form-group col-md-12">
            <label for="assure"> Assuré </label>
            <select name="assure" class="form-control" id="assure">
                <option> Selectionner l'assuré </option>
                {% for assure in assures %}
                <option value="{{assure.id}}">{{assure.id}}-{{assure}}</option>
                {% endfor %}
            </select>
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-12">
            <label for="vehicule"> Vehicule </label>
            <select name="vehicule" class="form-control" id="vehicule">
                <option> Choisir le vehicule</option>
                {% for vehicule in vehicules %}
                <option value="{{vehicule.marque}}">{{vehicule}}</option>
                {% endfor %}
            </select>
        </div>
    </div>

    <div id="wrapper">

        <div class="form-row">

            <div class="form-group col-md-3">
                <label for="montant"> Montant </label>
                <input required name="montant" type="number" min="1" class="form-control" id="montant">
            </div>

        </div>

    </div>

    <button type="submit" class="btn btn-primary"> Sauvegarder </button>

</form>
<br><br><br>

<div class="row">
    <a href="{% url 'paie' %}" class="btn col-md-4 btn-primary"> Enregistrement d'un Nouveau Paiement
        <span class="badge text-bg-secondary"> </span>
    </a>

    <a href="#" class="btn col-md-4">
        <span class="badge text-bg-secondary"> </span>
    </a>

    <a href="{% url 'tech' %}" class="btn col-md-4 btn-primary"> Retourner à la page 'ASSURANCES'
        <span class="badge text-bg-secondary"> </span>
    </a>
</div>
<br>
{% endblock content %}

